body {
  background-color: #d8c9c9b0;
  margin: 0;
  padding: 0;

  /*  for maintenance purpose  */
  text-align: center;
  font-size: 2em;
}

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

