body {
  background-color: #d8c9c9b0;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.2em;
  font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
}

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
header {
  background-color: rgb(230, 233, 235);
  box-shadow: 1px 1px 20px rgb(187, 177, 177);
  width: 100vw;
  height: 15%;
  /* Display property */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  /* posiotn Property  */
  position: fixed;
  top: 0px;
}

.nav-two ul {
  display: flex;
  gap: 1.2em;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
}

a:visited {
  color: rgb(18, 16, 16);
}

a:hover {
  text-decoration: underline;
  color: #1eb8ae;
}
nav ul > li {
  list-style-type: none;
}

.nav-three {
  display: none;
}

span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #1eb8ae;
  position: absolute;
  left: 10px;
}

.nav-one{
  padding-left: 1.3em;
}
/* Footer  */
footer {
  background-color: rgb(230, 233, 235);
  box-shadow: 1px 1px 20px rgb(187, 177, 177);
  width: 100vw;
  height: 16%;
  /* Display property */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  /* posiotn Property  */
  position: fixed;
  bottom: 0px;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item-two {
  display: flex;
  gap: 2em;
}

.f-i-t-one,
.f-i-t-two,
.f-i-t-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
}
